nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 39px 105px 0 65px;
}

.left img {
  /* width: 232px; */
  height: 110px;
  flex-shrink: 0;
}

.right .navtext {
  font-family: var(--font-ClashDisplay);
  font-size: var(--font-size-commingsoon-primary);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.dot {
  width: 6px;
  height: 6px;
}

.menu{
  display: none;
}

.menubar{
  width: 27.008px;
  height: 34px;
}

@media screen and (width < 1160px) {
  .menu{
    display: inline-flex;
  }
  .menu-long{
    display: none;
  }
}

@media screen and (width < 900px) {
  .left img{
    height: 90px; 
  }
  nav{
    padding: 39px 65px 0 25px;
  }
}

@media screen and (width < 500px) {
  .left img{
    height: 90px; 
  }
  nav{
    padding: 39px 45px 0 05px;
  }
}