nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 39px 105px 0 65px;
}

.left img {
  /* width: 232px; */
  height: 110px;
  flex-shrink: 0;
}

.right .navtext {
  font-family: var(--font-ClashDisplay);
  font-size: var(--font-size-commingsoon-primary);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.dot {
  width: 6px;
  height: 6px;
}