.left .arrow {
  width: 20.52px;
  height: 20px;
  flex-shrink: 0;
}
.insta {
  width: 34.008px;
  height: 34px;
  flex-shrink: 0;
}
.threads {
  width: 30.116px;
  height: 35px;
  flex-shrink: 0;
}
.left p{
    color: #FFF;

text-align: center;
font-family: var(--font-ClashDisplay);
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 173.077% */
}