.bottomNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 102px;
  padding-right: 108px;
  margin-bottom: 50px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.left p {
  font-family: var(--font-ClashDisplay);
  font-size: var(--font-size-commingsoon-primary);
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

.left .arrow {
  width: 18.65px;
  height: 25px;
  flex-shrink: 0;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.insta {
  width: 27.008px;
  height: 34px;
  flex-shrink: 0;
}

.threads {
  width: 27.008px;
  height: 34px;
  flex-shrink: 0;
}

.right a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 25px;
}

.right a:hover{
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s all ease;
}

@media screen and (width < 900px) {
  .bottomNav .left{
    display: none;
  }
  .bottomNav{
    justify-content: center;
  }
}