nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 39px 105px 0 65px;
  transition: 0.5s all ease;
}

.left img {
  height: 110px;
  flex-shrink: 0;
}

.right .navtext a{
  font-family: var(--font-ClashDisplay);
  font-size: var(--font-size-commingsoon-primary);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.dot {
  width: 6px;
  height: 6px;
}

.menu {
  display: none;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 100px;
  padding: 10px;
}

.menubar {
  width: 27.008px;
  height: 34px;
}

label {
  display: flex;
  flex-direction: column;
  width: 25px;
  cursor: pointer;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 3.5px;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 3000;
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4.5px, 2px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(9.8px, -6.4px) rotatez(45deg);
}

@media screen and (width < 1160px) {
  .menu {
    display: inline-flex;
  }
  .menu-long {
    display: none;
  }
}

@media screen and (width < 1024px) {
  nav {
    padding: 24px 65px 0 25px;
  }
}

@media screen and (width < 900px) {
  .left img {
    height: 90px;
  }
  nav {
    padding: 39px 65px 0 25px;
  }
  .menubar {
    width: 24.008px;
  }
}

@media screen and (width < 720px) {
  nav {
    padding: 39px 32px 0 0px;
  }
}

@media screen and (width < 600px) {
  .left img {
    height: 80px;
    padding-left: 3px;
  }
  .left a {
    margin-left: -6px;
  }
  .menu .menu_button {
    margin-right: -10px;
  }
}

@media screen and (width < 500px) {
  nav {
    padding: 39px 45px 0 05px;
  }
}

ul a, .toggle a{
  text-decoration: none;
}

ul a, .toggle a {
	color: #fff;
  position: relative;
  text-decoration: none;
}

ul a::before, .toggle a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: #fff;
  bottom: -2.5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

ul a:hover::before, .toggle a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
  height: 0;
  width: 100vw;
  z-index: 101;
  opacity: 0;
  color: #fff;
  font-family: var(--font-ClashDisplay);
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s, width 0.3s;
  transition: all 0.75s ease-in-out;
}

input[type="checkbox"]:checked ~ .toggle {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
}

input[type="checkbox"]:checked ~ .toggle a {
  opacity: 1;
}

.toggle a{
  margin-top: 20px;
  padding-bottom: 2px;
}

.toggle a{
  transition: 1.6s;
  opacity: 0;
}