* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ntw-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -100;
}

.ntw-container div {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  animation: gradient 30s infinite ease-in-out;
  box-shadow: "400px 400px 400px ";
  filter: blur(80px);
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -99;
}

.Ellipse1 {
  left: -10%;
  top: -20%;
  background: #cc44f2;
}

.Ellipse2 {
  left: 30%;
  top: 40%;
  background: #cc44f2;
}

.Ellipse3 {
  left: 0;
  top: 30%;
  background: #510273;
}

.Ellipse4 {
  left: 50%;
  top: 10%;
  background: #281740;
}

.Ellipse5 {
  left: 60%;
  top: 70%;
  background: #510273;
}

.Ellipse6 {
  left: 80%;
  top: 30%;
  background: #cc44f2;
}

.Ellipse7 {
  left: 30%;
  top: 70%;
  background: #f088f2;
}

.Ellipse8 {
  left: 0;
  top: 300;
  background: #281740;
}

.Ellipse9 {
  left: 30%;
  top: 30%;
  background: #bc04bf;
}

.Ellipse10 {
  left: 30%;
  top: -19%;
  background: #510273;
}

@keyframes gradient {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translate(20%, -50%);
  }
  50% {
    transform: translate(-20%, 10%);
  }
  75% {
    transform: translate(-40%, -30%);
  }
  100% {
    transform: translateX(0);
  }
}