.mainText {
  font-family: var(--font-StarifeDemo);
  font-size: var(--font-size-commingsoon-maintext);
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  position: absolute;
}

@media screen and (width < 1270px) {
  .mainText{
    font-size: 145px;
  }
}

@media screen and (width < 1050px) {
  .mainText{
    font-size: 110px;
  }
}

@media screen and (width < 770px) {
  .mainText{
    font-size: 75px;
  }
}

@media screen and (width < 540px) {
  .mainText{
    font-size: 60px;
  }
  .bottomNav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (width < 400px) {
  .mainText{
    font-size: 45px !important;
  }
}